<!DOCTYPE html>
<html lang="en">
  
<div class="col-xs-12 landing-page" style="text-align: center;" font-family: "Source Sans Pro","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Arial,sans-serif>
      <br>
    
       <p>Powered By</p>
       <br>
      <img src="../static/images/snapdeal.gif" width="300px"/></a>
      <br>
      <i>Acknowledgement</i>: The  icons and images were designed by shutterstock.com
      <br>
      © Jasper Infotech Private Limited ("Jasper").
      </p>

    </div>
   </html>