<div th:fragment="footer" >
<div class="col-xs-12 landing-page" style="text-align: center;font-size:14px;margin:100px 0 70px 0;" font-family: "Source Sans Pro","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Arial,sans-serif>
      <br/>
      <p>Powered By</p>
      
      <img src="images/snapdeal.gif" width="300px"/>
      <br/>
      <i>Acknowledgement</i>: The  icons and images were designed by shutterstock.com
      <br/>
      © Jasper Infotech Private Limited ("Jasper").
</div>
</div>
