<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="Cache-control" content="public">
	<title>WTH</title>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<!-- Custom Fonts -->
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
		rel='stylesheet' type='text/css'>
	<link
		href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
		rel='stylesheet' type='text/css'>
	
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/creative.css" type="text/css">
	<link rel="stylesheet" href="css/idea.css" type="text/css">
	<link
		href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic"
		rel="stylesheet" />
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	      <![endif]-->
</head>

   <body id="ideaDetail">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="z-index:100;">
      <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">SnapDeal</a>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
               <li>
                  <a class="page-scroll" href="/#about">About</a>
               </li>
               <li>
                  <a class="page-scroll" href="/#services">Hacks</a>
               </li>
             <!--   <li>
                  <a class="page-scroll" href="/#portfolio">Problem Statements</a>
               </li> -->
               <li>
                  <a class="page-scroll" href="/#contact">Contact</a>
               </li>
            <!--    <li>
                  <a href="#submitForm" class="page-scroll submit-idea">Submit now!</a>
               </li> -->
            </ul>
         </div>
         <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
   </nav>
   
      <div class="container" id="main-content">
      
         <div class="col-md-10 col-sm-10 col-xs-12 col-sm-push-1 col-md-push-1">
            <div class="infosheet">
               <div class="section first">
                  <div class="row">
					 <div class="form-group voting-group hide">
                  		<input class="form-control" id="inputEmail" name="email" placeholder="Email" type="email">
               			  <button type="submit" id="btnIdeaSubmit" class="btn btn-primary btn-xl wow tada">
                            Submit
                		  </button>
                		  <button class="btn btn-primary btn-xl wow tada" id="btnIdeaCancel" type="button">
                            Cancel
                		  </button>
                		<input type="hidden" id="upordown" value=""/>
                		<label class="voting-label"></label>
               		</div>
					 
					
                     <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 votebox">
						
                		  
                        <div class="choices">
                           <a class="glyphicon glyphicon-thumbs-up" id="voteup" title="Vote up" href=""></a>
                           <a class="glyphicon glyphicon-thumbs-down" id="votedown" title="Vote down" href=""></a>
                           <span class="indicator">&rarr;</span>
                           <span class="score"></span>
                        </div>
                        <div class="vlabel">
                           Vote on this proposal
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" id="ideaStatus">
                      
                     </div>
                  </div>
               </div>
               
               <div id="smaller-left-ribbon">
               		<div class="edit-left-div">
               			<h3 class="idea-title"></h3>
               		</div>
               		<i class="glyphicon glyphicon-pencil white"></i>
               	</div>
               
               <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                     <div class="section">
                     
                     	 <div class="form-group join-group hide">
                  		  <input class="form-control" id="inputJoinEmail" name="email" placeholder="Email" type="email">
               			  <button type="submit" id="btnJoinSubmit" class="btn btn-primary btn-xl wow tada">
                            Submit
                		  </button>
                		  <button class="btn btn-primary btn-xl wow tada" id="btnJoinCancel" type="button">
                            Cancel
                		  </button>
                			<label class="join-label"></label>
               			</div>
               		
                     	 <button type="submit" id="btnJoinIdea" class="btn btn-primary btn-xl wow tada">
                            Sounds Fun? Collaborate!
                		  </button>
                		  <label class="join-label"></label>
                     		<h2>Email Id</h2>
							<p class="idea-email"></p>
							
                     	 	<h2>Objective</h2>
							<p class="objective"></p>
							<h2>Description</h2>
							<p class="description"></p>
							<h2>Links</h2>
							<p class="url"></p>
							<h2>Collabarators</h2>
							<p class="collabarators"></p>
                    
                     </div>
                    
                  </div>
               </div>
            </div>
         </div>
        
      </div>
      <!-- /container -->

  	<script src="js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/idea.js"></script>
   </body>
</html>