<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    lang="en">
   
  <head th:include="head::cssFiles"></head> 
  <nav th:include="header::head" id="mainNav" class="navbar navbar-default navbar-fixed-top" style="z-index:100;"></nav>
  
<title>Submit Ideas-WTH</title>
  <body id="page-top">
		
   </body>

      <section class="bg-primary ideaPage" id="submitForm">
         <div class="container">
         <div class="row">
         	<!-- <a href="#ideasTable" class="btn btn-primary btn-xl page-scroll">View Ideas</a> -->
            <form th:action="@{/idea}" method="post">
               <h3 class="idea-h3">Lets Do it!</h3>
               <div class="form-group">
                  <input type="text" required class="form-control" id="inputTitle" placeholder="Title" name="ideaOverview">
               </div>
               
               <div class="form-group">
                  <input type="email" required class="form-control" id="inputEmail" placeholder="Email" name="email">
               </div>

               <div class="form-group">
              	  <select class="form-control" id="inputSection" name="section" required>
              	  		<option value="-1">Select</option>
              	  		<option value="idea">Idea</option>
              	  		<option value="feature">Feature/Bug</option>
              	  </select>
               </div>
               
               <div class="form-group">
              	  <select class="form-control" id="inputIdea" name="category">	
              	  		<option>Seller Ecosystem</option>
              	  		<option>Buyer Ecosystem</option>
              	  		<option>Android Development</option>
              	  		<option>iOS Development</option>
              	  		<option>Other</option>
              	  </select>
               </div>
               
               <div class="form-group">
                  <textarea required class="form-control" maxlength="100" rows="2" id="inputObjective" placeholder="Objective(upto 100 characters)" name="objective"></textarea>
               </div>
               <div class="form-group">
                  <textarea required class="form-control" rows="10" id="inputDescription" placeholder="Description" name="description"></textarea>
               </div>
                 <div class="form-group">
                  <textarea required class="form-control" rows="5" id="inputUrl" placeholder="Links or Urls separated by comma to support your case.It can be a link to document uploaded in google drive." 
                  name="url"></textarea>
               </div>
                         
                <button type="submit" class="btn btn-primary btn-xl wow tada">
                            Submit
                </button>
            </form>
         </div>
         <!-- Current Sessions -->
         <div class="row"  id="ideasTable">
          <!--   <h3 class="idea-h3" >Trending Submissions </h3> -->
            <ul class="nav nav-tabs">
			  <li class="active"><a  id="trending">Trending Ideas</a></li>
		   </ul>
           <!--  <div class="table-responsive"> -->
              <table class="table table-striped table-bordered table-condensed">
              </table>
         </div>
         </div>
      </section>
   <!-- jQuery -->
 <!--   <script src="js/jquery.js"></script>
   <script src="js/jquery.easyPaginate.js"></script> -->
   <!-- Bootstrap Core JavaScript -->
   <!-- <script src="js/bootstrap.min.js"></script> -->
   <!-- Plugin JavaScript -->
<!--    <script src="js/jquery.easing.min.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/moment.min.js"></script>
   <script src="js/wow.min.js"></script> -->
   <!-- Custom Theme JavaScript -->
 <!--   <script src="js/creative.js"></script>
   <script src="js/export.js"></script> -->
 
<!--    <script>
  	$("#inputIdea").hide();
  </script> -->
   </body>
</html>