<!DOCTYPE html>
<html lang="en">
 <head th:include="head::cssFiles"></head> 
   <body id="ideaDetail">
    <nav th:include="header::head" id="mainNav" class="navbar navbar-default navbar-fixed-top" style="z-index:100;"></nav>
   
      <div class="container" id="main-content">
      
         <div class="col-md-10 col-sm-10 col-xs-12 col-sm-push-1 col-md-push-1">
            <div class="infosheet">
               <div class="section first">
                  <div class="row">
					 <div class="form-group voting-group hide">
                  		<!-- <input class="form-control" id="inputEmail" name="email" required placeholder="Email" type="email"> -->
               			<textarea class="form-control" id="textComment" name="comment" required placeholder="I am voting because.."></textarea> 
               			 <button type="submit" id="btnIdeaDetSubmit" class="btn btn-primary btn-xl wow tada">
                            Submit
                		  </button>
                		  <button class="btn btn-primary btn-xl wow tada" id="btnIdeaDetCancel" type="button">
                            Cancel
                		  </button>
                		<input type="hidden" id="upordown" value=""/>
                		<label class="voting-label"></label>
               		</div>
					 
					
                     <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 votebox">
						
                		  
                        <div class="choices">
                           <label id="upvotes"></label>
                           <a class="glyphicon glyphicon-thumbs-up" id="voteup" title="Vote up" href=""></a>
                           
                           <label id="downvotes"></label>
                           <a class="glyphicon glyphicon-thumbs-down" id="votedown" title="Vote down" href=""></a>
                           <span class="indicator">&rarr;</span>
                           <span class="score"></span>
                        </div>
                        <div class="vlabel">
                           Vote on this proposal
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" id="ideaStatus">
                      
                     </div>
                  </div>
               </div>
               
               <div id="smaller-left-ribbon">
               		<div class="edit-left-div">
               			<h3 class="idea-title"></h3>
               			<h3 class="idea-section"></h3>
               		</div>
               		
               	</div>
               
               <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                     <div class="section">
                     
                     	 <button type="submit" id="btnJoinIdea" class="btn btn-primary btn-xl wow tada">
                            Join the team!
                		  </button>
                		  <label class="join-label"></label>
                     		<h2>Submitted By</h2>
							<p class="idea-email"></p>
							
							<h2>Objective</h2>
							<p class="objective"></p>
							
							<h2>Description</h2>
							<i class="glyphicon glyphicon-pencil hide" id="editDescription"></i>
							
							<p class="description"></p>
							
							<h2>Links</h2>
							<i class="glyphicon glyphicon-pencil hide" id="editLinks"></i>
							
							<div>  
							 <a href="#" id="popoverEdit" onclick="return false;" data-toggle="popover" title="Edit Links Tip" data-content="Please enter comma seperated values.">?</a>
							</div>
							
							<p class="url"></p>
							<h2>Collaborators</h2>
							<p class="collabarators"></p>
							
							<h2>Comments</h2>
                    		<p class="comments">
                    			
                    		</p>
                    		
                    		<form id="submitCommentForm" method="post">
                    		    <input type="hidden" name="email" id="email" />
                    			<textarea id="txtaComment" class="form-control" rows="3" name="comment" required></textarea>
                    			<input type="button" id="btnCommSubmit" class="btn btn-primary btn-xl wow tada" value="Comment" />
                    			<label class="comm-label"></label>
                           </form>
                           
                     </div>
                    
                  </div>
               </div>
            </div>
         </div>
        
      </div>
      <!-- /container -->

<!--   	<script src="js/jquery.min.js"></script>
	Bootstrap Core JavaScript
	<script src="js/bootstrap.min.js"></script> -->
	<script src="js/gohack.js"></script> 
    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="js/ideaDetail.js"></script>
   </body>
   <div th:include="footer::footer"></div> 
</html>